<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="remoteLog" value="false"/>
	<!--监控中心-->
	<add key="monitorUrl" value="http://localhost:8081/CollectorData/Collector" />
	<!--注册中心地址-->
	<add key="registerUrl" value="http://localhost:8082"/>
	<!--redis地址-->
	<add key="redisUrl" value="10.44.17.68,abortConnect=true"/>
	<!--redis数据库索引-->
	<add key="databaseIndex" value="2"/>
	<add key="log_p_logdir" value="menu_logs"/>
    <add key="log_is_logged" value="true"/>
    <add key="log_level" value="Error"/>
    <add key="log_logger" value="Easy.Public.MyLog.PlainFileLogger,Easy.Public"/>
</appSettings>