<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log_p_logdir" value="b_logs"/>
  <add key="log_is_logged" value="true"/>
  <add key="log_level" value="Info"/>
  <add key="log_logger" value="Easy.Public.MyLog.PlainFileLogger,Easy.Public"/>
    <!--是否向注册中心注册 0=不注册 1=注册-->
  <add key="isRegsiterToRegiserCenter" value="1"/>
   <!--监控中心-->
  <add key="monitorUrl" value="http://register.yangliweb.com/CollectorData/Collector" />
  <!--注册中心地址-->
  <add key="registerUrl" value="http://register.yangliweb.com/"/>
  <!--redis地址-->
  <add key="redisUrl" value="127.0.0.1,abortConnect=true"/>
  <!--redis数据库索引-->
  <add key="databaseIndex" value="1"/>
    <!--远程日志是否开启-->
  <add key="remoteLog" value="true"/>
</appSettings>